.summoner-card-wrapper {
    background-color: #EEEEEE;
    color: black;
    padding: 10px;
    .class-name {
        font-weight: 700;
        text-align: center;
    }
    .img-container {
        display: flex;
        justify-content: center;
        img {
            max-width: 200px;
        }
    }
    .token-id, .attribute-container, .price-row {
        font-weight: 500;
        padding: 5px 0;
        text-align: center;
    }
}