.home-page-wrapper {
    .page-header {
        font-size: 2em;
        margin: 0 0 24px;
        text-align: center;
    }
    .marketplace-type-dropdown-row {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        .marketplace-type-dropdown {
            max-width: 400px;
            width: 100%;
        }
    }
    .refresh-button-row {
        margin-bottom: 16px;
        text-align: center;
    }
}