.home-page-wrapper {
    .page-header {
        font-size: 1.5em;
        margin: 0 0 24px;
        text-align: center;
    }
    .refresh-button-row {
        margin-bottom: 16px;
        text-align: center;
    }
    .dropdown-row-wrapper {
        margin: 40px 0 50px;
        .spacer {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}