.header-wrapper {
    .toolbar-wrapper {
        justify-content: space-between;
        .app-name {
            font-weight: 500;
        }
        #connectWalletBtn {
            color: white;
        }
    }
}