.header-wrapper {
    background-color: #37474f;
    .toolbar-wrapper {
        background-color: #37474f;
        justify-content: space-between;
        .app-name {
            font-weight: 500;
        }
        #connectWalletBtn {
            color: white;
        }
    }
}